/* body default styling */
html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	background-color: #ffffff;
	margin: 0;
  padding: 0;
}

/* Popup */
.popup .overlay
{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn
{
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay
{
  display: block;
}

.popup.active .content
{
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
/* Popup end  */

.form-container {
  position: absolute;
  top: 15vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.listProduct{
    color: #598BC4;
    font-family: "Lucida Bright", Georgia, serif;
    font-style: normal;
    font-size: 30px;
    font-weight: Demibold;
    list-style: none;
}

.listProduct:hover{
  cursor: pointer;
}

/* colors */
.redWarning {
  color: #FF5D5D !important;
}

.light-blue {
  color: #598BC4;
}

.dark-blue {
  color:#006579;
}

.black {
  color: black;
}

.white {
  color: white;
}

.bg-light-blue {
  background-color: #598BC4;
}

.bg-dark-blue {
  background-color:#006579;
}

/* material icons */
.material-icons.md-36 { font-size: 36px !important; }
.material-icons.md-48 { font-size: 48px !important; }
.material-icons.md-100 { font-size: 100px !important; }

.form-container {
  position: absolute;
  top: 15vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

/* list and title styling */
.listProduct{
  color: rgba(89, 139, 196, .81);
  font-family: "Lucida Bright", Georgia, serif;
  font-style: normal;
  font-size: 30px;
  font-weight: bold;
  list-style: none;
}

.listProduct:hover{
  cursor: pointer;
}

.title {
  color:#006579;
  /* font-size: 40px !important; */
  font-family:'Lucida Bright', 'Georgia', 'serif';
  font-weight: bold;
}

/* navbar and sidenav */
.navbar {
  height: 60px;
  background-color: #444444;
}

.navbar-brand {
  font-family: "Lucida Bright", Georgia, serif;
  font-style: normal;
  font-size: 80px;
  font-weight: normal;
}

.navlink{
  border-bottom: 1px solid #707070;
  margin: 0 !important;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.navlink:hover {
  cursor: pointer;
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right:0;
  background-color: #444444;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.navlines{
  height: 100%;
  position: absolute;
  right:3px;
  top: 12px;
}

.closebtn {
  position: absolute;
  top: 0;
  right: 0;
  color:rgba(255, 255, 255, 0.692);
}

.closebtn:hover {
  cursor: pointer;
  color: white;
}

/* buttons */

.btn {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.gsigninbtn {
	box-shadow: 0px 1px 5px rgba(20,20,20,0.5);
	border-radius: 5px;
	border: white;
	background-color: white;
	color: rgb(109, 109, 109);
	cursor: pointer;
}

/* Shopping List Buttons */
.addbutton {
  background-color: #00A8F9;
  border: 1px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  right: 130px;
  transition-duration: 0.4s;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.addbutton:hover {
  background-color: #0085c7;
  color: white;
}

.clearbutton {
  background-color: rgba(251, 87, 87, .81); /* Red */
  border: 1px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  right: 240px;
  transition-duration: 0.4s;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.clearbutton:hover {
  background-color: #d80000; /* Red */
  color: white;
}

.clearPopupText {
  color: #598BC4;
  font-family: "Lucida Bright", Georgia, serif;
  font-style: normal;
  font-size: 25px;
  font-weight: Demibold;
  padding: 10px 20px;
  text-align: center;
}

.clearpopupButtons {
  background-color:rgba(31, 133, 0, .81); /* Green */
  border: 1px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.4s;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.clearpopupButtons:hover {
  background-color: rgba(15, 66, 0, 0.81); /* Darker Green */
  color: white;
}

.cancelpopupButtons {
  background-color: rgba(251, 87, 87, .81); /* Red */
  border: 1px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.4s;
  margin-left: 15px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.cancelpopupButtons:hover {
  background-color: rgba(151, 54, 54, 0.81); /* Darker Red */
  color: white;
}
