html, body {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

.form-container {
  position: absolute;
  top: 15vh;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.listProduct{
    color: #598BC4;
    font-family: "Lucida Bright", Georgia, serif;
    font-style: normal;
    font-size: 30px;
    font-weight: Demibold;
    list-style: none;
}

.listProduct:hover{
  cursor: pointer;
}

.light-blue {
  color: #598BC4;
}

.dark-blue {
  color:#006579;
}

.bg-light-blue {
  background-color: #598BC4;
}

.bg-dark-blue {
  background-color:#006579;
}

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-100 { font-size: 100px; }


.navlink{
    border-bottom: 1px solid white;
}
.navlines{
    height: 100%;
    position: absolute;
    right:3px;
    top: 12px;
}

.navbar-brand {
  font-family: "Lucida Bright", Georgia, serif;
  font-style: normal;
  font-size: 40px;
  font-weight: Demibold;
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right:0;
  background-color: #111;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
